.nav-wrapper { 
    height: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.nav-wrapper > .left-column >.logo-wrapper {
    display: flex;
    justify-content: left;
}

.nav-wrapper > .left-column > .logo-wrapper img {
    width: 175px;
    border-radius: 75px;
    margin: 12px;
}

.nav-wrapper > .center-column > .link-nav-wrapper {
    padding: 100px;
    display: flex;
    justify-content: center;
}