.nav-wrapper { 
    height: 1fr;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
}

.nav-wrapper > .left-column >.logo-wrapper {
    display: flex;
    justify-content: center;
}

.nav-wrapper > .left-column > .logo-wrapper img {
    width: 175px;
    border-radius: 75px;
    margin: 12px;
}

.nav-wrapper > .links-wrapper > .link {
    display: flex;
    justify-content: center;
}

.nav-wrapper > .links-wrapper > .box {
    margin: 100px;
    background-color: #333333;
    padding: 4px;
}


/* Nav Links */
.nav-wrapper > .links-wrapper > .box > .link a {
    color: whitesmoke;
    transition: 0.2s;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-wrapper > .links-wrapper > .box > .link a:hover {
   color: red;
}


/* Home Icon */
.nav-wrapper > .right-column > .page a {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
    font-size: 3.3em;
}

.nav-wrapper > .right-column > .page a:hover {
    color: red;
}

